$size: (
  0: 0,
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 32px,
);

$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

@each $s, $px in $size {
  .hp_mg_#{$s} {
    margin: #{$px} !important;
  }

  .hp_pd_#{$s} {
    padding: #{$px} !important;
  }

  @each $d, $dir in $directions {
    .hp_mg_#{$d}_#{$s} {
      margin-#{$dir}: #{$px} !important;
    }

    .hp_pd_#{$d}_#{$s} {
      padding-#{$dir}: #{$px} !important;
    }
  }
}

.hp_width_full {
  width: 100%;
}
