.hp_xxl {
  font-size: 200% !important;
}

.hp_xl {
  font-size: 150% !important;
}

.hp_lg {
  font-size: 125% !important;
}

.hp_md {
  font-size: 100% !important;
}

.hp_sm {
  font-size: 87.5% !important;
}

.hp_xs {
  font-size: 75% !important;
}

.hp_xxs {
  font-size: 62.5% !important;
}
