@import '@/styles/variables';

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  padding: 1rem;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid $c-gray-border;
  border-radius: 1em;
  outline: transparent;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
}

.icon {
  width: 24px;
  height: 24px;
  margin: 2.5px;
  font-size: 22px;
  cursor: pointer;
}
