@import '../variables';

.bl_article {
  padding-bottom: 4rem;
}

.bl_article_mainImage {
  max-width: 512px;
  margin: 0 auto;
  margin-bottom: 32px;

  img {
    border-radius: 6px;
  }
}

.bl_article_body iframe {
  margin: 0 auto;
}
