.bl_box {
  padding: 16px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #d1d8dc;
}

.bl_boxUnit {
  .bl_box {
    margin-top: 16px;
  }
}

.bl_box__unbordered {
  border: 0;
}

.bl_box__c {
  display: flex;
  align-items: center;
  justify-content: center;
}
