.bl_combo {
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.bl_move_ttl {
  font-weight: bold;
}

.bl_move_kana {
  margin-bottom: 4px;
  font-size: 0.75rem;
}

.bl_move_tags {
  margin-top: 8px;
}

.bl_move_tags span {
  font-size: 0.75rem;
  color: $black2;
}

.bl_move_tags span:after {
  margin: 0 2.5px;
  content: '/';
}

.bl_move_tags span:last-child:after {
  margin: 0;
  content: '';
}

.bl_move_detail {
  display: inline-block;
  margin-top: 8px;
  font-size: 0.75rem;
}

.bl_move_details .bl_move_detail:after {
  margin: 0 4px;
  content: '/';
}

.bl_move_details .bl_move_detail:last-child:after {
  margin: 0;
  content: '';
}

.bl_move_detailTtl {
  margin-right: 4px;
  font-weight: bold;
}

.bl_move_note {
  margin-top: 8px;
  font-size: 0.75rem;
}
