@import '../variables';

.bl_linkTool {
  display: flex;
  padding: 1rem;
  border: solid 1px #d1d8dc;
  border-radius: 6px;
}

.bl_linkTool__content {
  flex: 1;
}

.bl_linkTool__title {
  font-weight: bold;
}

.bl_linkTool__image img {
  width: 100px;
}

.bl_linkTool__host {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: $black3;
}
