@import '@/styles/_variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 180px;
  margin-left: 1rem;
  cursor: pointer;
  background-color: $black5;
}
