@import '@/styles/variables';

.container {
  width: 150px;
}

.tab {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 18px;
  margin-top: 0.2rem;
  font-size: 1.1rem;
  color: var(--c-gray);
  border-radius: 2.5em;
}

.tabActive {
  composes: tab;
  font-weight: 700;
  color: var(--c-primary);
  background: var(--c-blue-bg-lighter);
}

.icon {
  margin-right: 0.5rem;
}
