@import '@/styles/variables';

.container {
  border: 1px solid #ddd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;

  > *:last-child {
    margin-bottom: 0;
  }
}

.ttl {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: bold;
}

.txt {
  margin-top: 0;
  line-height: 1.5;
  word-break: break-all;
}

.footer {
  margin-top: 0.5rem;
}

@include mq(md) {
  .container {
    display: block;
  }

  .videoWrapper {
    width: 100%;
  }
}
