@import '@/styles/variables';

.container {
  padding-bottom: 4rem;
}

.mainImage {
  max-width: 512px;
  margin: 0 auto;
  margin-bottom: 32px;

  img {
    width: 100%;
    border-radius: 6px;
  }
}

.heading {
  margin-bottom: 16px;
}
