@import '@/styles/variables';

.card {
  position: relative;
  box-sizing: border-box;
  display: block;
  color: currentColor;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  transition: 0.25s;
}

.body {
  display: block;
  padding: 15px;

  > *:last-child {
    margin-bottom: 0;
  }
}

.ttl {
  margin-bottom: 5px;
  font-size: 1.125rem;
  font-weight: bold;
}

.txt {
  color: $black3;
}

.ttl,
.txt {
  transition: 0.25s;
}

.card:focus,
.card:hover {
  opacity: 0.75;

  .ttl,
  .txt {
    color: $color-main;
    text-decoration: underline;
  }
}
