@import '@/styles/variables';

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 48px 16px;
  color: $black3;
  border: 2px dashed #d1d8dc;
}
