@import '@/styles/variables';

.container {
  display: flex;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  overflow: hidden;
  border-radius: 100%;
}

.name {
  line-height: 1;
}

.time {
  margin-top: 4px;
  font-size: 0.75rem;
  line-height: 1;
  color: $black3;
}
