@import '@/styles/variables';

.container {
  display: inline-flex;
  margin-bottom: 1rem;
  overflow: hidden;
  font-size: 0.9em;
  background: #fff;
  border: 1px solid $c-gray-border;
  border-radius: 5px;
}

.item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.45em 0.7em;
  font-size: 0.8rem;
  line-height: 1.3;
  color: $c-gray;
  text-align: center;
}

.item:not(:last-child) {
  border-right: 1px solid $c-gray-border;
}

.item:hover {
  background: $c-gray-bg-hover;
  border-right: 1px solid $c-gray-border;
}

.itemActive {
  color: var(--c-body);
  pointer-events: none;
  background: $c-gray-bg-hover;
  composes: item;
}
