@import '@/styles/variables';

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.inner {
  box-sizing: border-box;
  max-width: 730px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
}

.logo {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2rem;
  color: $color-main-text;
  text-align: center;
  text-decoration: none;

  svg {
    font-size: 1.5rem;
    color: $color-main;
  }
}

.shoulder {
  margin-top: 4px;
  font-size: 0.75rem;
}
