.container {
  display: flex;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.container a {
  flex-shrink: 0;
  transition: 0.25s;

  &:focus,
  &:hover {
    opacity: 0.75;
  }
}

.avatar {
  margin-right: 16px;
  overflow: hidden;
  border: solid 1px #ddd;
  border-radius: 50%;
}

.avatar img {
  width: 32px;
  height: 32px;
}

.cont {
  position: relative;
  flex: 1;
  padding: 1rem;
  border: 1px solid #d1d8dc;

  &:before,
  &:after {
    position: absolute;
    right: auto;
    bottom: auto;
    display: block;
    width: 0;
    height: 0;
    content: '';
  }

  &:before {
    top: 12px;
    left: -9px;
    border-top: 9px solid transparent;
    border-right: 9px solid #d1d8dc;
    border-bottom: 9px solid transparent;
  }

  &:after {
    top: 13px;
    left: -8px;
    border-top: 8px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 8px solid transparent;
  }
}

.userName {
  font-weight: bold;
  line-height: 1;
}

.time {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1;
}

.message {
  margin-top: 0.5rem;
  white-space: pre-line;
}
