@import '@/styles/variables';

.container {
  position: relative;
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.body {
  display: block;
  padding: 15px;

  > *:last-child {
    margin-bottom: 0;
  }
}

.ttl {
  margin-bottom: 5px;
  font-size: 1.125rem;
  font-weight: bold;
}

.txt {
  color: $black3;
}

.badge {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 0;
    height: 0;
    content: '';
    border-color: $color-main $color-main transparent transparent;
    border-style: solid;
    border-width: 1.75rem;
  }
}

.badge_txt {
  position: absolute;
  top: 0.5rem;
  right: 0.3125rem;
  z-index: 2;
  font-size: 0.875rem;
  font-weight: bold;
  color: $white;
  transform: rotate(45deg);
}

a.bl_card .ttl,
a.bl_card .txt {
  transition: 0.25s;
}

a.bl_card {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: 0.25s;

  &:focus,
  &:hover {
    opacity: 0.75;

    .ttl,
    .txt {
      color: $color-main;
      text-decoration: underline;
    }
  }
}
