@import '@/styles/variables';

.h1 {
  padding-bottom: 10px;
  margin-bottom: 16px;
  font-size: 1.75rem;
  font-weight: bold;
}

.h2 {
  padding-bottom: 8px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid $color-main;
}

.h3 {
  padding-bottom: 6px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid $color-main;
}

.h4 {
  padding-left: 6px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: bold;
  border-left: 1px solid $color-main;
}

.h5 {
  margin-bottom: 16px;
  font-size: 1.125rem;
  font-weight: bold;
  color: $color-main;
}

.h6 {
  margin-bottom: 16px;
  font-size: 1.125rem;
}
