@import '@/styles/variables';

.inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 16px;
  list-style-type: none;
  border-bottom: 2px solid #efefef;
}

.link {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: $black3;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.25s;

  &:focus,
  &:hover {
    color: $color-main;
    border-bottom-color: currentColor;
    opacity: 0.75;
  }
}

.linkActive {
  color: $color-main;
  pointer-events: none;
  border-bottom-color: currentColor;
  composes: link;
}

.dropdown {
  display: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  opacity: 0;
  transition: 0.25;

  &.is_active {
    position: absolute;
    display: block;
    opacity: 1;
  }
}

.dropdownLink {
  padding: 10px;

  &:focus,
  &:hover {
    color: $color-main;
    border-bottom-color: currentColor;
    opacity: 0.75;
  }
}

@include mq(md) {
  .container {
    overflow-x: auto;
  }

  .inner {
    flex-wrap: nowrap;
    justify-content: flex-start;
    white-space: nowrap;
  }
}
