.el_caution {
  color: #d40152;
}

.el_note {
  font-size: 0.75rem;
}

.el_textLink {
  text-decoration: underline;
  &:focus,
  &:hover {
    opacity: 0.75;
  }
}

.hp_preLine {
  white-space: pre-line;
}
