.el_txt.el_txt__primary {
  color: #37b0be;
}

.el_txt.el_txt__info {
  color: #4b9bd8;
}

.el_txt.el_txt__success {
  color: #2ca52c;
}

.el_txt.el_txt__warning {
  color: #ec8313;
}

.el_txt.el_txt__danger {
  color: #db5757;
}

.el_txt.el_txt__c {
  text-align: center;
}

.el_txt.el_txt__r {
  text-align: right;
}
