@import '@/styles/variables';

.h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.h2 {
  padding-bottom: 8px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid $color-main;
}

.h3 {
  padding-bottom: 6px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid $color-main;
}
