@import '@/styles/variables';

.breadcrumbs {
  display: flex;
  margin-bottom: 8px;
  overflow-x: auto;
}

.item {
  font-size: 0.9rem;
}

.item:not(:first-child) {
  margin-left: 4px;

  &:before {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    content: '';
    border: solid #a8abb1;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg) scale(0.8) skew(10deg, 10deg);
    transform: rotate(45deg) scale(0.8) skew(10deg, 10deg);
  }
}
