@import '../variables';

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: $color-main-text;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

dl {
  margin: 0;

  & dt {
    font-weight: bold;
  }

  & dd {
    margin: 0;
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  line-height: 1.5;
}

a {
  color: $color-main-text;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s;
}

img {
  max-width: 100%;
  vertical-align: top;
}

figcaption,
figure,
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  -webkit-appearance: button;
}

select,
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

select,
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select,
input,
textarea {
  &:focus {
    outline: 0;
  }
}

input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

input[type='search']::-webkit-search-decoration {
  display: none;
}

input[type='search']:focus {
  outline-offset: -2px;
}

figure {
  margin: 0;
}

iframe {
  display: block;
  border: 0;
}
