@import '@/styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.next {
  border: 1px solid $c-gray-border;
  border-radius: 8px;
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 10%);
}

.next,
.back {
  padding: 0.5em 2em;
  text-align: center;
  white-space: nowrap;

  &:focus,
  &:hover {
    opacity: 0.75;
  }
}

.arrowLeft,
.arrowRight {
  color: $c-gray;
}

.arrowLeft {
  margin-right: 0.5rem;
}

.arrowRight {
  margin-left: 0.5rem;
}
