@import '@/styles/variables';

.link {
  display: flex;
  padding: 1rem;
  border: solid 1px #d1d8dc;
  border-radius: 6px;
}

.content {
  flex: 1;
}

.title {
  font-weight: bold;
}

.image img {
  width: 100px;
}

.host {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: $black3;
}
