@import '@/styles/variables';

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.inner {
  box-sizing: border-box;
  max-width: 730px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
}

.logo img {
  width: 172px;
}

.shoulder {
  margin-top: 4px;
  font-size: 0.75rem;
}
