@import '@/styles/variables';

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $black1;
  border-top: 1px solid #ddd !important;
}

.inner {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li {
  padding: 0 8px;
}

.nav a {
  font-size: 0.9rem;
  color: $black1;
}

.nav a:focus,
.nav a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 16px;
  font-size: 0.75rem;
  text-align: center;
}
