@import '@/styles/variables';

.container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.header {
  flex: 1;
}

.buttons {
  display: flex;
}

.buttons > * {
  margin-left: 8px;
}
