@import '@/styles/variables';

.dropdown {
  position: absolute;
  right: 0;
  z-index: 2;
  min-width: 160px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  transition: 0.25s;
}

.dropdown li a {
  display: block;
  padding: 16px;

  &:focus,
  &:hover {
    color: $color-main;
    cursor: pointer;
    opacity: 0.75;
    transition: 0.25s;
  }
}

.fullscreenTransparent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: auto;
  background: transparent;
}
