$black: #000;
$black1: #333;
$black2: #555;
$black3: #777;
$black4: #999;
$black5: #ccc;
$white: #fff;

$green: #2ca52c;
$green1: #8ae08a;
$green2: #e7f9e7;

$orange: #ec8313;
$orange1: #f5bf84;
$orange2: #fdf0e3;

$red: #db5757;
$red1: #f0b7b7;
$red2: #fbeeee;

$yellow: #f1de00;

$color-twitter: #00acee;

$color-main: #fa776d;
$color-main-text: $black1;
$color-bg: #efefef;

$color-fav: #fa776d;

$color-primary: #37b0be;
$color-info: #4b9bd8;
$color-success: #2ca52c;
$color-warning: $orange;
$color-danger: $red;

$c-gray: #93a5b1;
$c-gray-border: #cfdce6;
$c-gray-bg-hover: rgba(239, 246, 251, 0.6);

$c-time: #3ea6ff;

$sm: 576px;
$md: 768px;

$breakpoints: (
  'sm': 'screen and (max-width: #{$sm})',
  'md': 'screen and (max-width: #{$md})',
);

@mixin mq($size) {
  @media #{map-get($breakpoints, $size)} {
    @content;
  }
}
