@import '@/styles/variables';

.button > * {
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: bold;
  line-height: 1;
  color: $white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-main;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: 0.25s;

  &:focus,
  &:hover {
    opacity: 0.75;
  }
}

.button.info > * {
  color: $black2;
  background-color: white;
  border: 2px solid $c-gray-border;
}

.listInline {
  display: flex;
}

.listInline .button {
  margin-right: 8px;
}
