.icf {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'YarouyoSymbols' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icf_A:before {
  content: '\41';
}

.icf_B:before {
  content: '\42';
}

.icf_C:before {
  content: '\43';
}

.icf_D:before {
  content: '\44';
}

.icf_E:before {
  content: '\45';
}

.icf_F:before {
  content: '\46';
}

.icf_G:before {
  content: '\47';
}

.icf_H:before {
  content: '\48';
}

.icf_I:before {
  content: '\49';
}

.icf_J:before {
  content: '\4a';
}

.icf_K:before {
  content: '\4b';
}

.icf_L:before {
  content: '\4c';
}

.icf_M:before {
  content: '\4d';
}

.icf_N:before {
  content: '\4e';
}

.icf_O:before {
  content: '\4f';
}

.icf_P:before {
  content: '\50';
}

.icf_Q:before {
  content: '\51';
}

.icf_R:before {
  content: '\52';
}

.icf_S:before {
  content: '\53';
}

.icf_T:before {
  content: '\54';
}

.icf_U:before {
  content: '\55';
}

.icf_V:before {
  content: '\56';
}

.icf_W:before {
  content: '\57';
}

.icf_X:before {
  content: '\58';
}

.icf_Y:before {
  content: '\59';
}

.icf_Z:before {
  content: '\5a';
}

.icf_a:before {
  content: '\61';
}

.icf_b:before {
  content: '\62';
}

.icf_c:before {
  content: '\63';
}

.icf_d:before {
  content: '\64';
}

.icf_e:before {
  content: '\65';
}

.icf_f:before {
  content: '\66';
}

.icf_g:before {
  content: '\67';
}

.icf_h:before {
  content: '\68';
}

.icf_i:before {
  content: '\69';
}

.icf_j:before {
  content: '\6a';
}

.icf_k:before {
  content: '\6b';
}

.icf_l:before {
  content: '\6c';
}

.icf_m:before {
  content: '\6d';
}

.icf_n:before {
  content: '\6e';
}

.icf_o:before {
  content: '\6f';
}

.icf_p:before {
  content: '\70';
}

.icf_q:before {
  content: '\71';
}

.icf_r:before {
  content: '\72';
}

.icf_s:before {
  content: '\73';
}

.icf_t:before {
  content: '\74';
}

.icf_u:before {
  content: '\75';
}

.icf_v:before {
  content: '\76';
}

.icf_w:before {
  content: '\77';
}

.icf_x:before {
  content: '\78';
}

.icf_y:before {
  content: '\79';
}

.icf_z:before {
  content: '\7a';
}

.icf_0:before {
  content: '\30';
}

.icf_1:before {
  content: '\31';
}

.icf_2:before {
  content: '\32';
}

.icf_3:before {
  content: '\33';
}

.icf_4:before {
  content: '\34';
}

.icf_5:before {
  content: '\35';
}

.icf_6:before {
  content: '\36';
}

.icf_7:before {
  content: '\37';
}

.icf_8:before {
  content: '\38';
}

.icf_9:before {
  content: '\39';
}

.icf_up:before {
  content: '\e901';
}

.icf_right:before {
  content: '\e902';
}

.icf_down:before {
  content: '\e903';
}

.icf_left:before {
  content: '\e904';
}

.icf_arrow_up:before {
  content: '\e905';
}

.icf_arrow_right:before {
  content: '\e906';
}

.icf_arrow_down:before {
  content: '\e907';
}

.icf_arrow_left:before {
  content: '\e908';
}

.icf_arrow_circle_left:before {
  content: '\e909';
}

.icf_arrow_circle_right:before {
  content: '\e90a';
}

.icf_browser_back:before {
  content: '\e90b';
}

.icf_browser_next:before {
  content: '\e90c';
}

.icf_add:before {
  content: '\e90d';
}

.icf_remove:before {
  content: '\e90e';
}

.icf_close:before {
  content: '\e90f';
}

.icf_ok:before {
  content: '\e910';
}

.icf_add_circle:before {
  content: '\e911';
}

.icf_remove_circle:before {
  content: '\e912';
}

.icf_close_circle:before {
  content: '\e913';
}

.icf_check_circle:before {
  content: '\e914';
}

.icf_dropdown:before {
  content: '\e915';
}

.icf_dropdown_reset:before {
  content: '\e916';
}

.icf_selectable:before {
  content: '\e917';
}

.icf_sort:before {
  content: '\e918';
}

.icf_sortable:before {
  content: '\e919';
}

.icf_autocomplete_arrow:before {
  content: '\e91a';
}

.icf_other:before {
  content: '\e91b';
}

.icf_action_overflow:before {
  content: '\e91c';
}

.icf_play:before {
  content: '\e91d';
}

.icf_pause:before {
  content: '\e91e';
}

.icf_stop:before {
  content: '\e91f';
}

.icf_fast_reverse:before {
  content: '\e920';
}

.icf_fast_forward:before {
  content: '\e921';
}

.icf_pre_track:before {
  content: '\e922';
}

.icf_next_track:before {
  content: '\e923';
}

.icf_repeat:before {
  content: '\e924';
}

.icf_shuffle:before {
  content: '\e925';
}

.icf_reload:before {
  content: '\e926';
}

.icf_sync:before {
  content: '\e927';
}

.icf_return:before {
  content: '\e928';
}

.icf_reply:before {
  content: '\e929';
}

.icf_move:before {
  content: '\e92a';
}

.icf_blank_link:before {
  content: '\e92b';
}

.icf_external_app:before {
  content: '\e92c';
}

.icf_login:before {
  content: '\e92d';
}

.icf_logout:before {
  content: '\e92e';
}

.icf_full_screen:before {
  content: '\e92f';
}

.icf_min_screen:before {
  content: '\e930';
}

.icf_volume:before {
  content: '\e931';
}

.icf_mute:before {
  content: '\e932';
}

.icf_heart:before {
  content: '\e933';
}

.icf_heart_blank:before {
  content: '\e934';
}

.icf_star:before {
  content: '\e935';
}

.icf_star_blank:before {
  content: '\e936';
}

.icf_bookmark:before {
  content: '\e937';
}

.icf_bookmark_blank:before {
  content: '\e938';
}

.icf_edit:before {
  content: '\e939';
}

.icf_post:before {
  content: '\e93a';
}

.icf_post_diary:before {
  content: '\e93b';
}

.icf_post_topic:before {
  content: '\e93c';
}

.icf_send:before {
  content: '\e93d';
}

.icf_search:before {
  content: '\e93e';
}

.icf_menu:before {
  content: '\e93f';
}

.icf_share:before {
  content: '\e940';
}

.icf_share_android:before {
  content: '\e941';
}

.icf_trash:before {
  content: '\e942';
}

.icf_ban:before {
  content: '\e943';
}

.icf_inform:before {
  content: '\e944';
}

.icf_horizontal:before {
  content: '\e945';
}

.icf_vertical:before {
  content: '\e946';
}

.icf_cut:before {
  content: '\e947';
}

.icf_copy:before {
  content: '\e948';
}

.icf_paste:before {
  content: '\e949';
}

.icf_bold:before {
  content: '\e94a';
}

.icf_italic:before {
  content: '\e94b';
}

.icf_underline:before {
  content: '\e94c';
}

.icf_emphasis:before {
  content: '\e94d';
}

.icf_strike:before {
  content: '\e94e';
}

.icf_headline:before {
  content: '\e94f';
}

.icf_h1:before {
  content: '\e950';
}

.icf_h2:before {
  content: '\e951';
}

.icf_h3:before {
  content: '\e952';
}

.icf_h4:before {
  content: '\e953';
}

.icf_h5:before {
  content: '\e954';
}

.icf_h6:before {
  content: '\e955';
}

.icf_quote:before {
  content: '\e956';
}

.icf_link:before {
  content: '\e957';
}

.icf_code:before {
  content: '\e958';
}

.icf_align_left:before {
  content: '\e959';
}

.icf_align_center:before {
  content: '\e95a';
}

.icf_align_right:before {
  content: '\e95b';
}

.icf_align_adjust:before {
  content: '\e95c';
}

.icf_brightness:before {
  content: '\e95d';
}

.icf_contrast:before {
  content: '\e95e';
}

.icf_effect:before {
  content: '\e95f';
}

.icf_crop:before {
  content: '\e960';
}

.icf_rotate:before {
  content: '\e961';
}

.icf_crop_original:before {
  content: '\e962';
}

.icf_crop_square:before {
  content: '\e963';
}

.icf_crop_landscape:before {
  content: '\e964';
}

.icf_crop_portrait:before {
  content: '\e965';
}

.icf_check:before {
  content: '\e966';
}

.icf_myfolder:before {
  content: '\ea00';
}

.icf_myfolder_add:before {
  content: '\ea01';
}

.icf_myfolder_remove:before {
  content: '\ea02';
}

.icf_myfolder_added:before {
  content: '\ea03';
}

.icf_clip:before {
  content: '\ea04';
}

.icf_clip_add:before {
  content: '\ea05';
}

.icf_clip_remove:before {
  content: '\ea06';
}

.icf_clip_added:before {
  content: '\ea07';
}

.icf_user:before {
  content: '\ea08';
}

.icf_user_add:before {
  content: '\ea09';
}

.icf_user_remove:before {
  content: '\ea0a';
}

.icf_user_added:before {
  content: '\ea0b';
}

.icf_shop:before {
  content: '\ea0c';
}

.icf_shop_add:before {
  content: '\ea0d';
}

.icf_shop_remove:before {
  content: '\ea0e';
}

.icf_shop_added:before {
  content: '\ea0f';
}

.icf_shopping_list:before {
  content: '\ea10';
}

.icf_shopping_list_add:before {
  content: '\ea11';
}

.icf_shopping_list_remove:before {
  content: '\ea12';
}

.icf_shopping_list_added:before {
  content: '\ea13';
}

.icf_mynews:before {
  content: '\ea14';
}

.icf_mynews_add:before {
  content: '\ea15';
}

.icf_mynews_remove:before {
  content: '\ea16';
}

.icf_mynews_added:before {
  content: '\ea17';
}

.icf_tsukurepo:before {
  content: '\ea18';
}

.icf_diary:before {
  content: '\ea19';
}

.icf_mycalendar:before {
  content: '\ea1a';
}

.icf_memo:before {
  content: '\ea1b';
}

.icf_kitchen:before {
  content: '\ea1c';
}

.icf_hot:before {
  content: '\ea1d';
}

.icf_inbox:before {
  content: '\ea1e';
}

.icf_setting:before {
  content: '\ea1f';
}

.icf_ps:before {
  content: '\ea20';
}

.icf_ps_feature:before {
  content: '\ea21';
}

.icf_ranking:before {
  content: '\ea22';
}

.icf_ps_kondate:before {
  content: '\ea23';
}

.icf_ps_myfolder:before {
  content: '\ea24';
}

.icf_tsukurepo100:before {
  content: '\ea25';
}

.icf_ps_category:before {
  content: '\ea26';
}

.icf_honor:before {
  content: '\ea27';
}

.icf_ps_coupon:before {
  content: '\ea28';
}

.icf_healthy:before {
  content: '\ea29';
}

.icf_au_pass:before {
  content: '\ea2a';
}

.icf_kondate:before {
  content: '\ea2b';
}

.icf_news:before {
  content: '\ea2c';
}

.icf_cafe:before {
  content: '\ea2d';
}

.icf_bargain:before {
  content: '\ea2e';
}

.icf_healthcare:before {
  content: '\ea2f';
}

.icf_bbs:before {
  content: '\ea30';
}

.icf_lesson:before {
  content: '\ea31';
}

.icf_kampo:before {
  content: '\ea32';
}

.icf_zaim:before {
  content: '\ea33';
}

.icf_holiday:before {
  content: '\ea34';
}

.icf_wedding:before {
  content: '\ea35';
}

.icf_facebook_square:before {
  content: '\ea36';
}

.icf_facebook:before {
  content: '\f09a';
}

.icf_twitter:before {
  content: '\ea37';
}

.icf_google:before {
  content: '\ea38';
}

.icf_instagram:before {
  content: '\ea39';
}

.icf_line:before {
  content: '\ea3a';
}

.icf_pinterest:before {
  content: '\ea3b';
}

.icf_whatsapp:before {
  content: '\ea3c';
}

.icf_viber:before {
  content: '\ea3d';
}

.icf_help:before {
  content: '\eb01';
}

.icf_info:before {
  content: '\eb02';
}

.icf_caution:before {
  content: '\eb03';
}

.icf_circle:before {
  content: '\eb04';
}

.icf_double_circle:before {
  content: '\eb05';
}

.icf_triangle:before {
  content: '\eb06';
}

.icf_man:before {
  content: '\eb07';
}

.icf_woman:before {
  content: '\eb08';
}

.icf_chef:before {
  content: '\eb09';
}

.icf_boy:before {
  content: '\eb0a';
}

.icf_baby:before {
  content: '\eb0b';
}

.icf_rice:before {
  content: '\eb0d';
}

.icf_bread:before {
  content: '\eb0e';
}

.icf_vegetable:before {
  content: '\eb0f';
}

.icf_fish:before {
  content: '\eb10';
}

.icf_meat:before {
  content: '\eb11';
}

.icf_egg:before {
  content: '\eb12';
}

.icf_soy:before {
  content: '\eb13';
}

.icf_salt:before {
  content: '\eb14';
}

.icf_bento:before {
  content: '\eb15';
}

.icf_recipe:before {
  content: '\eb16';
}

.icf_cookwear:before {
  content: '\eb17';
}

.icf_calorie:before {
  content: '\eb18';
}

.icf_teapot:before {
  content: '\eb19';
}

.icf_medal:before {
  content: '\eb1a';
}

.icf_contest:before {
  content: '\eb1b';
}

.icf_rank:before {
  content: '\eb1c';
}

.icf_rank1:before {
  content: '\eb1d';
}

.icf_rank2:before {
  content: '\eb1e';
}

.icf_rank3:before {
  content: '\eb1f';
}

.icf_comment:before {
  content: '\eb20';
}

.icf_goiken:before {
  content: '\eb21';
}

.icf_comments:before {
  content: '\eb22';
}

.icf_pc:before {
  content: '\eb23';
}

.icf_smartphone:before {
  content: '\eb24';
}

.icf_mobile:before {
  content: '\eb25';
}

.icf_watch:before {
  content: '\eb26';
}

.icf_keyboard:before {
  content: '\eb27';
}

.icf_mic:before {
  content: '\eb28';
}

.icf_print:before {
  content: '\eb29';
}

.icf_camera:before {
  content: '\eb2a';
}

.icf_image:before {
  content: '\eb2b';
}

.icf_images:before {
  content: '\eb2c';
}

.icf_music:before {
  content: '\eb2d';
}

.icf_video:before {
  content: '\eb2e';
}

.icf_tel:before {
  content: '\eb2f';
}

.icf_mail:before {
  content: '\eb30';
}

.icf_book:before {
  content: '\eb31';
}

.icf_calendar:before {
  content: '\eb32';
}

.icf_file:before {
  content: '\eb33';
}

.icf_map:before {
  content: '\eb34';
}

.icf_tile:before {
  content: '\eb35';
}

.icf_list:before {
  content: '\eb36';
}

.icf_history:before {
  content: '\eb37';
}

.icf_report:before {
  content: '\eb38';
}

.icf_lock:before {
  content: '\eb39';
}

.icf_unlock:before {
  content: '\eb3a';
}

.icf_earth_us:before {
  content: '\eb3b';
}

.icf_earth_eu:before {
  content: '\eb3c';
}

.icf_earth_ap:before {
  content: '\eb3d';
}

.icf_direction:before {
  content: '\eb3e';
}

.icf_pin:before {
  content: '\eb3f';
}

.icf_access:before {
  content: '\eb40';
}

.icf_car:before {
  content: '\eb41';
}

.icf_train:before {
  content: '\eb42';
}

.icf_truck:before {
  content: '\eb43';
}

.icf_home:before {
  content: '\eb44';
}

.icf_church:before {
  content: '\eb45';
}

.icf_bell:before {
  content: '\eb46';
}

.icf_gift:before {
  content: '\eb47';
}

.icf_flag:before {
  content: '\eb48';
}

.icf_beginner:before {
  content: '\eb49';
}

.icf_yen:before {
  content: '\eb50';
}

.icf_tag:before {
  content: '\eb4a';
}

.icf_entertainment:before {
  content: '\eb4b';
}

.icf_shirt:before {
  content: '\eb4c';
}

.icf_hint:before {
  content: '\eb4d';
}

.icf_chair:before {
  content: '\eb4e';
}

.icf_timer:before {
  content: '\eb4f';
}

.icf_cart:before {
  content: '\eb51';
}

.icf_users:before {
  content: '\eb52';
}

.icf_param:before {
  content: '\eb53';
}

.icf_sun:before {
  content: '\eb54';
}

.icf_moon:before {
  content: '\eb55';
}

.icf_rain:before {
  content: '\eb56';
}

.icf_cloud:before {
  content: '\eb57';
}

.icf_cloud_sun:before {
  content: '\eb58';
}

.icf_cloud_moon:before {
  content: '\eb59';
}

.icf_morning:before {
  content: '\eb5a';
}

.icf_snow:before {
  content: '\eb5b';
}

.icf_twinkle:before {
  content: '\eb5c';
}

.icf_stars:before {
  content: '\eb5d';
}

.icf_feed:before {
  content: '\eb5e';
}

.icf_zip:before {
  content: '\eb5f';
}

.icf_question:before {
  content: '\eb60';
}

.icf_answer:before {
  content: '\eb61';
}

.icf_occupation:before {
  content: '\eb62';
}

.icf_japan:before {
  content: '\eb63';
}

.icf_new:before {
  content: '\eb64';
}

.icf_housewife_welcome:before {
  content: '\ec01';
}

.icf_within_4_hours:before {
  content: '\ec02';
}

.icf_beginner_welcome:before {
  content: '\ec03';
}

.icf_shift_free:before {
  content: '\ec04';
}

.icf_commuter_allowance:before {
  content: '\ec05';
}

.icf_my_car:before {
  content: '\ec06';
}

.icf_appearance_free:before {
  content: '\ec07';
}

.icf_experienced_welcome:before {
  content: '\ec08';
}

.icf_student_welcome:before {
  content: '\ec09';
}

.icf_senior_welcome:before {
  content: '\ec10';
}

.icf_within_deduction:before {
  content: '\ec11';
}

.icf_nursery:before {
  content: '\ec12';
}

.icf_instant_pay:before {
  content: '\ec13';
}

.icf_few_days:before {
  content: '\ec14';
}

.icf_opening_staff:before {
  content: '\ec15';
}

.icf_foreigner_welcome:before {
  content: '\ec16';
}

.icf_highschool_student_welcome:before {
  content: '\ec17';
}

.icf_nail:before {
  content: '\ec18';
}

.icf_to_full_time:before {
  content: '\ec19';
}

.icf_arrow_1:before {
  content: '\e977';
}

.icf_arrow_2:before {
  content: '\e97a';
}

.icf_arrow_3:before {
  content: '\e97d';
}

.icf_arrow_4:before {
  content: '\e96f';
}

.icf_arrow_6:before {
  content: '\e974';
}

.icf_arrow_7:before {
  content: '\e900';
}

.icf_arrow_8:before {
  content: '\e969';
}

.icf_arrow_9:before {
  content: '\e96c';
}

.icf_arrow_1h:before {
  content: '\e98f';
}

.icf_arrow_2h:before {
  content: '\e992';
}

.icf_arrow_3h:before {
  content: '\e995';
}

.icf_arrow_4h:before {
  content: '\e989';
}

.icf_arrow_6h:before {
  content: '\e98c';
}

.icf_arrow_7h:before {
  content: '\e980';
}

.icf_arrow_8h:before {
  content: '\e983';
}

.icf_arrow_9h:before {
  content: '\e986';
}

.icf_lp:before {
  content: '\e998';
}

.icf_rp:before {
  content: '\e9a1';
}

.icf_lk:before {
  content: '\e9aa';
}

.icf_rk:before {
  content: '\e9b3';
}

.icf_lp_lk:before {
  content: '\e9bc';
}

.icf_rp_rk:before {
  content: '\e9c7';
}

.icf_lp_rp:before {
  content: '\e9d2';
}

.icf_lk_rk:before {
  content: '\e9dd';
}

.icf_lp_rk:before {
  content: '\e9e8';
}

.icf_rp_lk:before {
  content: '\e9f3';
}

.icf_lp_rp_lk:before {
  content: '\e9fe';
}

.icf_lp_rp_rk:before {
  content: '\ea46';
}

.icf_lp_lk_rk:before {
  content: '\ea50';
}

.icf_rp_lk_rk:before {
  content: '\ea5a';
}

.icf_lp_rp_lk_rk:before {
  content: '\ea64';
}
